<h1>Template</h1>
<hr />
<ul class="list-group">
  <li
    *ngFor="let itemMenu of templateMenu"
    class="list-group-item"
    routerLink="{{ itemMenu.ruta }}"
    routerLinkActive="active"
  >
    {{ itemMenu.texto }}
  </li>
</ul>

<h1 class="mt-3">Reactive</h1>
<hr />
<ul class="list-group">
  <li
    *ngFor="let itemMenu of reactiveMenu"
    class="list-group-item"
    routerLink="{{ itemMenu.ruta }}"
    routerLinkActive="active"
  >
    {{ itemMenu.texto }}
  </li>
</ul>

<h1 class="mt-3">Validaciones</h1>
<hr />
<ul class="list-group">
  <li
    *ngFor="let menu of Menu"
    class="list-group-item"
    routerLink="{{ menu.ruta }}"
    routerLinkActive="active"
  >
    {{ menu.texto }}
  </li>
</ul>
